<div class="jumbotron">
    <h1>Sali Safi - WSA500 - Assignment 3</h1>
    <p class="lead">This is a project about a web service that will deliver data about the music business.</p>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>Objectives</h2>
        <p>
            This app will enable users to request data about invoices, and detail for a specific invoice.
            The detail will be extensive, and will include data from many associated entities.
            It will also enable you to add employees, and configure them with photos.
        </p>
        <br />

        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database</li>
            <li>Entity Framework and AutoMapper already installed</li>
            <li>Manager class starter code</li>
            <li>References to the Manager class in the Home and Values controller</li>
        </ul>
    </div>
</div>
