<div class="jumbotron">
    <h1>Sina Kamali-Anaraki</h1>
    <p class="lead">This is Assignment #3.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Support HTTP GET, for the get all use case, for the Invoice entity</li>
            <li>Support HTTP GET, for get all, for Invoice</li>
            <li>Support HTTP GET, for get one, for Invoice, with info from related objects</li>
            <li>Support HTTP GET, for get one, for Employee, with info from related objects</li>
            <li>Support HTTP POST, for the add new use case, for Employee</li>
            <li>Implement the command pattern, to enable the configuration of an employee’s manager</li>
            <li>Accept, upload, and deliver non-text internet media types (employee photos)</li>
            <li>Implement basic content negotiation</li>

        </ul>
    </div>
</div>
