<div class="jumbotron">
    <h1>Assignment 4 - Salimeh Safi</h1>
    <p class="lead">Hypermedia representations</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Assignment 4 - WSA500</p>
        <ul>
            <li>Hypermedia representations</li>
            <li>REST constraints and hypermedia-driven design</li>
            <li>Create manually-generated controls for media type formatter</li>
            <li>Create code-generated controls for media type formatter</li>
            <li>Fully-implemented documentation components</li>
            <ul>
                <li>code comments</li>
                <li>XML code comments</li>
                <li>annotations</li>
                <li>Web API Help Page</li>
                <li>entry/root URI</li>
            </ul>
        </ul>
        <br />
        <p>Manually-generated hypermedia representation for the Invoice entity, get all and get one</p>
        <p>Code-generated hypermedia representation for the Track entity, get some (for a specific album)</p>
    </div>
</div>
